*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 100%;
    font-size: 100%;
    list-style: none;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

h1, li, ul, a, p, h2, h4, tr, th, td, label{
    color: white;
    font-family: 'Source Code Pro', monospace;
}

body    {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #483d71, #1f1f59, #000042); 
}

main    {
    display: flex;
    width: 100%;
    height: 93.2vh;
    align-items: center;
    flex-direction:column;  
}

.fale {
    margin: auto;
    font-size: 2em;
}

.formas {
    display: flex;
    width: 90%;
    justify-content: center ;
    flex-direction: column;
    margin: auto;
    font-size: 1.2em;
}

.form  {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

label, input    {
    display: flex;
    width: 90%;
    margin: auto;
}

.Email, .Telefone, .Linkedin  {
    margin: auto;
    padding: 1em;
} 

@media (max-width:480px) {}