*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 100%;
    font-size: 100%;
    list-style: none;
    box-sizing: border-box; 
}

h1, li, ul, a, p, h2, h4, tr, th, td{
    color: white;
    font-family: 'Source Code Pro', monospace;
}

body    {
    width: 100%;
    height: 100%;
    background: linear-gradient( #483d71, #1f1f59, #000042); 
}

.container  {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

main    {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.jonaspng  {
    width: 25%;
    margin: auto;
    margin-top: 0.5em;
    border: white 1px;
    border-style: solid;
    padding: 0%;
    box-shadow: 10px 10px #00000030;    
}
  
.paragdiv  {
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
}

.subtitle  {
    width: 96%;
    margin-right: 48%;
    margin: 0.5em;
    font-size: 1.7em;
}

.parag {
    width: 96%;
    margin: auto;
    font-size: 1em;
}

.covers {
    display: flex;
    justify-content: space-between;
}


.actcover   {
    width: 12%;
    margin: 0.5em;
    border: white 1px   ;
    border-style: solid;
    padding: 0%;
    box-shadow: 10px 10px #00000030;
}

@media (max-width:480px) {}